  <!doctype html>
  {% extends 'base.html' %}
  {% load crispy_forms_tags %} 
  {% load static %}
  {% block navbar %}
  {% include 'navbar.html' %}
  {% endblock %}

  {% block blog %}

  <div class="container signupContainer">
    <div class="row justify-content-center">
      <div class="col-12 px-5 py-3 col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-10" style="background-color: white  ;">
        <h1 class="mt-2">Add Blog</h1>

        <hr class="mt-0 mb-4">
        <form method='POST' enctype="multipart/form-data">
          
          {%csrf_token%}
          {{ form.media }}
          {{form | crispy}}

          {% if form.categories.errors %}
          {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ error|escape }}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ error|escape }}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          {% endif %}
          {% if form.thumbnail.errors %}
          {% for field in form %}
          {% for error in field.errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
          </div>
          {% endfor %}
          {% endif %}   
          <div class="text-center mt-2">
            <button type='submit' class="btn btn-info mt-2">Submit</button><br/>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}