<!doctype html>
{% extends 'base.html' %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block blog %}

<div class="content">
  <div class="section-inner clearfix">


    {% for post in posts %}
    <h4 class="sub-title text-center">All the posts under category - {{ category}}</h4>
    <!-- Grid row -->
    <div class="row light-blue lighten-5 pt-2">
      <div class="view overlay rounded  mb-4 offset-md-1 col-lg-3  col-md-3 col-sm-3 col-3">
       {% if post.thumbnail %}
       <img class="img-thumbnail" src="{{ post.thumbnail.url }}" alt="Sample image1" width="110" height="150">
       {% else %}
       <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" alt="Sample image">
       <a>
        <div class="mask rgba-white-slight"></div>
      </a>
      {% endif %}
    </div>

    <div class=" col-lg-7 col-md-7 col-sm-7 col-8">
      <div class="d-flex justify-content-between">
        <div class="col-11 text-truncate pl-0 mb-3">
          <a href="#" class="dark-grey-text h6">{{ post.title }}</a>
          {{post.content | safe |truncatewords:"20" }}<br/>
          <small class="font-weight-normal">by </small><a><strong>{{post.user | title}}</strong></a>,<small> {{post.publish |date:'d M Y'}}</small><br/>
          
          <small>Tags: {% for tag in post.tags.all %} 
           <a href="{% url 'tagged' tag.slug %}" class="badge badge-primary"># {{tag}}</a>
         {% endfor %}</small><br/>
       </div>
       <a href="{% url 'blog-detail' post.pk %}"><i class="fas fa-angle-double-right"></i></a>

     </div>

   </div>
   <!-- Grid column -->

 </div>
 {% empty %}
 <p class="sub-title text-center">There are no posts under {{ category }}</p>
 {% endfor %}

</div>
</div>

{% endblock %}