<!doctype html>
{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% load static %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block blog %}
<div class="container signupContainer">
  <div class="row justify-content-center">
    <div class="col-12 px-5 py-3 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="background-color: white  ;">
      <h1 class="mt-2">Sign Up Here!</h1>
      <hr class="mt-0 mb-4">
      <form method='POST'>
        {%csrf_token%}
        {{form | crispy}}
        <button type='submit' class="btn btn-info">Submit</button><br/>
        <div class="mt-3">Already Have An Account? <a href='{% url "login" %}' >Login</a></div>
      </form>
    </div>
  </div>
</div>

{% endblock %}